body{
  font-family: monospace;
  color: lightgreen;
  background-color: black;
}
h2{
  font-family: cursive;
  font-size: 20px;
  text-align: center;
}
span{
  font-weight: bold;
  font-family: cursive;
  color: white;
}
.container{
  width: 90%;
  padding: 1%;
}
.content{
  padding: 1%;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}
#profilePhoto{
  	background: aliceblue;
  	height: 150px;
  	width: 150px;
  	border-radius: 50%;
  	background-image: url('../images/beach.jpeg');
  	background-size: cover;
    float: left;
}
#Bio{
  font-family: monospace;
  color: green;
  float: right;
  
}
#Bio h2{
  text-align: center;
  color: green;
}
#history{
  margin-top: 2%;
  margin-left: 5%;
  color: white;
  float: left;
  width: 50%;
  text-align: justify;
  float: left;
}
#history h2{
  text-align: left;
  font-family:sans-serif;
  color: green;
}
.experience p{
  text-align: justify;
}
#capabalities{
  margin-top: 2%;
  margin-left: 5%;
  color: white;
  float: left;
  width: 50%;
  text-align: justify;
  float: left;
}
#capabalities h2{
  text-align: left;
  font-family: serif;
  color: green;
}
